{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calicut cricket league</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/cricpro_pro/cricapp/static/effects.css">
    <link rel="stylesheet" href="{% static 'style.css' %)">
</head>
<style>
    body {
        background-image: url(/cricpro_pro/cricapp/static/images/-cricket-stadium-.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    a:hover {
        color: rgb(248, 241, 243);
    }
</style>

<body>

    <div class="container-fluid">
        <div class="row" style="background-image: linear-gradient(to right, rgba(233, 215, 215, 0), rgb(6, 18, 53));">
            <div class="col-md-4">
                <h6 style="color: cornsilk;">July 2021</h6>

            </div>


            <div class="col-md-5">
                <h3 style="color: rgb(235, 243, 243); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                    CALICUT CRICKET LEAGUE 2021</h3>
            </div>

            <div class="col-md-3">
                <h6 style="color: cornsilk;">follow us on
                    <a href="https://facebook.com" class="fa fa-facebook-square" target="_blank"></a>
                    <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
                    <a href="https://instagram.com" class="fa fa-instagram" target="_blank"></a>
                    <a href="#">Register</a>
                </h6>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <nav class="navbar-expand-sm " style=" background-image: linear-gradient(to right, rgba(233, 215, 215, 0), rgb(6, 18, 53)); ">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="navbar-brand" href="#"><img style="border-radius: 10px; width: 50px;" class="img" src="logo-ccl-og (1).png" alt="" width="60px"></a>

                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Standings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gallery</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
                            <div style="background-color: rgb(241, 65, 79);" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Schedule</a>
                                <a class="dropdown-item" href="#">News</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Stats</a>
                            </div>
                        </li>


                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

    </div>





    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-image">
                    <img class="card-image " src="/cricpro_pro/cricapp/static/wizrads.png" alt=" ">
                </div>
                <div class="card-text ">
                    <h2>Team wizards</h2>

                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">Matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-image ">
                    <img class="card-image " src="279-2797036_smashers-cricket-logo-png-download-cricket-team-smashers.png" alt=" ">
                </div>
                <div class="card-text ">

                    <h2>Team Smashers</h2>

                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-image ">
                    <img class="card-image " src="119-1195855_lancashire-thunder-cricket-team-logo-png-transparent-png.png" alt=" ">
                </div>
                <div class="card-text ">

                    <h2>Post One</h2>

                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views </div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-image ">
                    <img class="card-image " src=" css/avengers.png " alt=" ">
                </div>
                <div class="card-text ">

                    <h2>Team Avangers</h2>
                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="card-image " src="wizrads.png" alt=" ">
                </div>
                <div class="card-text ">
                    <h2>Team wizards</h2>

                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">Matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="card-image " src="wizrads.png" alt=" ">
                </div>
                <div class="card-text ">
                    <h2>Team wizards</h2>

                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">Matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="card-image " src="wizrads.png" alt=" ">
                </div>
                <div class="card-text ">
                    <h2>Team wizards</h2>

                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">Matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="card-image " src="wizrads.png" alt=" ">
                </div>
                <div class="card-text ">
                    <h2>Team wizards</h2>

                </div>
                <div class="card-stats ">
                    <div class="stat ">
                        <div class="type ">Matches</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat border ">
                        <div class="type ">views</div>
                        <div class="value ">00</div>
                    </div>
                    <div class="stat ">
                        <div class="type ">comments</div>
                        <div class="value ">00</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">

                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">

                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <h2><u><a href="#">Calicut Cricket League</a></u> </h2>
                    <p class="h6">© All right Reversed.
                        <a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank"></a>
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </section>





















</body>

</html>iv>




















</body>

</html>